body {
    background-color: chocolate;
}

strong {
    color: crimson;
}

.Destaque {
    color: pink;
    font-size: 50px;
}

img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#Item {
    color: white;
}